@model iOSBot.Data.Device

<div class="">
    <span>{</span>
    <span>"AudienceId": "@Model.AudienceId",</span>
    <span>"AssetType": "@Model.AssetType",</span>
    <span>"ClientVersion": 2,</span>
    <span>"BuildVersion": "@Model.BuildId",</span>
    <span>"HWModelStr": "@Model.BoardId",</span>
    <span>"ProductType": "@Model.Product",</span>
    <span>"ProductVersion": "@Model.Version",</span>
    <span>}</span>
</div>