@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model List<iOSBot.Service.Update>

@if (Model.Any())
{
    @if (Model[0].Version == "bad")
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div>invalid device</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <br/>
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#errorCollapse"
                    aria-expanded="false" aria-controls="errorCollapse">
                More Info
            </button>

            <div class="collapse" id="errorCollapse">
                <br/>
                <div class="card card-body">
                    @Model[0].Group
                </div>
                <br/>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#stackCollapse"
                        aria-expanded="false" aria-controls="stackCollapse">
                    Stack Trace
                </button>
            </div>

            <div class="collapse" id="stackCollapse">
                <br/>
                <div class="card card-body">
                    @Model[0].Build
                </div>
            </div>
        </div>
    }
    else if (Model[0].Version != "none")
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@($"Device is valid.")</div>
            @foreach (var m in Model)
            {
                <div>@($"{m.VersionReadable} ({m.Build}) Found. Released on {m.ReleaseDate:D}")</div>
            }
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <br/>

            <div class="row">
                <div class="text-start col">
                    <button type="submit" class="btn btn-success" id="submit">Submit</button>
                </div>
                <div class="text-end col">
                    <button type="button" class="btn btn-outline-info" id="showrequest" data-bs-toggle="collapse"
                            data-bs-target="#requestCollapse" aria-expanded="false" aria-controls="requestCollapse">
                        Show Request
                    </button>
                </div>
            </div>


            <div class="collapse" id="requestCollapse">
                <br/>
                <div class="card card-body">
                    <pre>@Html.Raw(JObject.Parse(Model[0].JsonRequest.ToString(Formatting.Indented)))</pre>
                </div>
            </div>
        </div>
    }
}